* {
    margin: 0px;
    padding: 0px;
}

/*START Counting Down Text */

.sectionSize {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textArea {
    margin: 0px 30% 10px 30%;
    background-color: rgb(181, 177, 186)
}

.butttonArea {
    margin: 25px 40% 15px 40%;
}


#mainHeader .animation {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(117, 41, 41);
    width: 100%;
    height: 200px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    text-align: center;
}

.animation::before {
    position: absolute;
    content: " ";
    animation-duration: 5s;
    animation-name: liczenie;
    animation-iteration-count: infinite;
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 30%;
}


.calculateStyle {
    background-image: linear-gradient(to top left, #91d6fd, #04409b);
}

.fibonacciStyle {
    background-image: linear-gradient(to top left, #5b912f, #48e4a6);
}

.modificationStyle {
    background-image: linear-gradient(to top left, #91d6fd, #04409b);
}

.logicGameStyle {
    background-image: linear-gradient(to top left, #5b912f, #48e4a6);
}

.calculatorStyle {
    background-image: linear-gradient(to top left, #91d6fd, #04409b);
}


@keyframes liczenie {
    0% {
        content: "Start";
    }

    20% {
        content: "Show";
    }

    40% {
        content: "Basic";
    }

    60% {
        content: "Mathematic";
    }

    80% {
        content: "Java Script";
    }

    100% {
        content: "Projects";
    }
}

/* FINISH Counting Down Text */

/* START Calculator */


.main {
    display: flex;
    align-content: center;    
    justify-content: center;
    height: 70vh;
}

.calculator {
    position: absolute;
    border: 50px ridge #8f6f57;
    border-radius: 50px;
}

.forms {
    display: flex;
    position: absolute;
    padding-bottom: 2px;
}

.forms .forms_score {
    position: relative;
    width: 455px;
    padding: 25px;
    margin: 3px 2px 3px 2px;
    background-color: #ddc1a0;
}

.calculator .digits {
position: relative;
}

.digits {
    position: relative;
    margin-top: 18%;
}

.digits .button {
    height: 75px;
    width: 75px;
    border-style: solid;
    border-color: #251717;
    margin: 1px;
}

.button {
    text-align: center;
    justify-items: center;
}

.digits .long {
    width: 150px;
}

.digits .button_darker {
    background-color:#856244;
}

.digits .button_lighter {
    background-color: #c79b75;
}

.digits .button_custom {
    background-color: #fff2e7;
}

/* FINISH Calculator */