* {
    margin: 0px;
    padding: 0px;
}

/*START Counting Down Text */

.sectionSize {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textArea {
    margin: 0px 30% 10px 30%;
    background-color: rgb(181, 177, 186)
}

.butttonArea {
    margin: 25px 40% 15px 40%;
}


#mainHeader .animation {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(117, 41, 41);
    width: 100%;
    height: 200px;
    font-size: 3em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    text-align: center;
}

.animation::before {
    position: absolute;
    content: " ";
    animation-duration: 5s;
    animation-name: liczenie;
    animation-iteration-count: infinite;
    transform: translateY(-50%);
    transform: translateX(-50%);
    top: 30%;
}


.calculateStyle {
    background-color: rgba(177, 117, 39, 0.809)
}

.fibonacciStyle {
    background-color: rgba(58, 23, 198, 0.408);
}

.modificationStyle {
    background-color: rgba(177, 117, 39, 0.809)
}

.logicGameStyle {
    background-color: rgba(58, 23, 198, 0.408);
}

.calculatorStyle {
    background-color: rgba(177, 117, 39, 0.809)
}


@keyframes liczenie {
    0% {
        content: "Start";
    }

    20% {
        content: "Show";
    }

    40% {
        content: "Basic";
    }

    60% {
        content: "Mathematic";
    }

    80% {
        content: "Java Script";
    }

    100% {
        content: "Projects";
    }
}

/* FINISH Counting Down Text */


/* START Calculator */

.main {
    background-image: linear-gradient(to top left, #91d6fd, #04409b);
    height: 100vh;
}

.calculator {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 50px ridge #8f6f57;
    border-radius: 50px;

}

.forms {
    padding-bottom: 2px;
}

.forms .forms_score {
    position: relative;
    width: 548px;
    padding: 25px;
    margin: 3px 2px 3px 2px;
    /* border-style: outset; */
    background-color: #ddc1a0;
}

.calculator .digits {
position: relative;
}

.digits .button {
    height: 90px;
    width: 90px;
    border-style: solid;
    border-color: #251717;
    margin: 1px;
}

.button {
    text-align: center;
    justify-items: center;
}

/* .digits .columns {
    height: 92px;
} */


.digits .long {
    width: 182px;
}

.digits .button_darker {
    background-color:#856244;
}

.digits .button_lighter {
    background-color: #c79b75;
}

.digits .button_custom {
    background-color: #fff2e7;
}

/* FINISH Calculator */